a,
p,
h1,
h2,
h3,
ul,
li {
  list-style: none;
  text-decoration: none;
  font-style: normal;
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

body {
  font-family: "Roboto";
  background-color: #ffffff;
  color: #757575;
  letter-spacing: 0.03em;
  font-size: 14px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.time-animation {
  transition-duration: 250ms;
  transition-timing-function: var(--time-function);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.portfolio-button, .button-mailing, .footer-social-li a, .customers__li a, .social-networks__li a, .social-networks, .our-jobs__list-post, .benefits__item-wrap, .modal-agreement, .modal__close, .backdrop-modal, .cotnact__nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  border-bottom: 1px solid #ececec;
}

.site__nav,
.nav__wrap {
  display: flex;
  justify-content: space-between;
}

.site__nav-li:not(:last-child),
.cotnact__nav-link:not(:last-child) {
  margin-right: 50px;
}

.site__nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: #212121;
  transition-property: color;
}
.site__nav-link:hover, .site__nav-link:focus {
  color: #2196f3;
}

.site__nav-link--current {
  color: #2196f3;
  position: relative;
}
.site__nav-link--current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 100%;
  transform: translateY(-3px);
  border-radius: 2px;
  background-color: #2196f3;
}

.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: #000000;
  margin-right: 93px;
  transition-property: color;
}

.logo span {
  color: #2196f3;
}
.logo:hover, .logo:focus {
  color: #2196f3;
  transition: color 250ms;
}

.cotnact__nav-link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: #757575;
  transition-property: color;
}
.cotnact__nav-link:hover, .cotnact__nav-link:focus {
  color: #2196f3;
}

.cotnact__nav-svg {
  width: 16px;
  height: 12px;
  fill: currentColor;
  vertical-align: middle;
  margin-right: 10px;
}

.phone {
  width: 12px;
  height: 16px;
}

.hero {
  height: 600px;
  background-color: #2f303a;
  text-align: center;
  padding: 0px;
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0;
  background-repeat: no-repeat;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/imgfon.jpg);
}

.section-title-hero {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-button {
  padding: 10px 32px;
  background: #188ce8;
  color: #ffffff;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
  min-width: 216px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  transition-property: background-color;
}
.hero-button:hover, .hero-button:focus {
  background-color: #188ce8;
}

.backdrop-modal {
  z-index: 2;
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.modal {
  width: 528px;
  height: 581px;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: scaleX(100%);
  transform-origin: right center;
}

.is-hidden {
  transform-origin: right center;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scaleX(0);
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  margin-left: auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 8px;
  margin-right: 8px;
  cursor: pointer;
  transition-property: fill;
}
.modal__close:hover, .modal__close:focus {
  fill: #2196f3;
}

.modal__svg__close {
  width: 11px;
  height: 11px;
}

.modal__form-wrap p {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal__form-input {
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 0px;
  outline: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 40px;
  padding-right: 20px;
  transition-property: outline-color;
}
.modal__form-input:focus, .modal__form-input:focus-visible {
  outline: 1px solid #2196f3;
}
.modal__form-input:hover ~ .modal__form-icons, .modal__form-input:focus ~ .modal__form-icons {
  fill: #2196f3;
}

.modal__form-button {
  width: 200px;
  height: 50px;
}

.lable-area {
  resize: none;
  height: 120px;
  padding: 12px 16px;
}

.modal__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  text-align: left;
  color: #757575;
}
.modal__label:not(:first-child) {
  margin-top: 10px;
}

.modal-agreement {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  position: relative;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-top: 10px;
}
.modal-agreement input {
  width: 16px;
  height: 15px;
  margin-right: 9px;
}

.modal-agreement a {
  margin-left: 10px;
  border-bottom: 1px solid #2196f3;
  color: #2196f3;
}

.modal__form-fild {
  position: relative;
}

.modal__form-icons {
  position: absolute;
  top: 50%;
  left: 0;
  height: 18px;
  width: 18px;
  fill: #212121;
  transform: translateY(-50%);
  margin-left: 15px;
}

.benefits__list {
  display: flex;
  justify-content: space-between;
}
.benefits__list li:not(:last-child) {
  margin-right: 30px;
}

.benefits__item-wrap {
  height: 120px;
  width: 270px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.benefits__svg {
  width: 70px;
  height: 70px;
}

.benefits__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.benefits__post {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

.our-jobs {
  padding-top: 0px;
}

.our-jobs__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.our-jobs__list {
  display: flex;
}
.our-jobs__list img {
  display: block;
}
.our-jobs__list li + li {
  margin-left: 30px;
}

.our-jobs__list-li {
  position: relative;
}

.our-jobs__list-post {
  height: 70px;
  width: 100%;
  font-weight: 700;
  line-height: 1.1428571429;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  transform: translateY(-70px);
}

.our-team {
  background-color: #f5f4fa;
}

.our-team__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.list-item__wrap {
  padding-top: 30px;
  padding-bottom: 30px;
}

.list-item__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.list-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team__list {
  display: flex;
  gap: 30px;
}
.our-team__list img {
  display: block;
}

.list__item-post {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
}

.social-networks {
  margin-top: 16px;
  gap: 10px;
}

.social-networks__li a {
  color: #afb1b8;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color, color;
}
.social-networks__li a:hover, .social-networks__li a:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.social-networks__svg {
  fill: currentColor;
  height: 20px;
  width: 20px;
}

.customers__list {
  display: flex;
  gap: 30px;
}

.customers__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.customers__li a {
  outline: 1px solid #afb1b8;
  color: #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  transition-property: outline-color, color;
}
.customers__li a:hover, .customers__li a:focus {
  outline-color: #2196f3;
  color: #2196f3;
}

.customers__svg {
  display: block;
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer-flex-div {
  display: flex;
  align-items: baseline;
}

.footer .logo {
  margin-bottom: 20px;
  color: #ffffff;
  transition-property: color;
}
.footer .logo:hover, .footer .logo:focus {
  color: #2196f3;
}

.footer-logo {
  padding: 0px;
}

.address__link {
  transition-property: color;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
}
.address__link:hover, .address__link:focus {
  color: #2196f3;
}

.address__link[target] {
  color: #ffffff;
  transition-property: color;
}
.address__link[target]:hover, .address__link[target]:focus {
  color: var(--accent-text-color);
  color: #2196f3;
}

.address__list {
  margin-bottom: 9px;
}
.address__list:last-child {
  margin-bottom: 0px;
}

.wrap-footer-svg {
  margin-left: 70px;
}
.wrap-footer-svg p {
  font-weight: 700;
  line-height: 0.875;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}

.footer-social {
  display: flex;
}

.footer-social-li:not(:last-child) {
  margin-right: 10px;
}

.footer-social-li a {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color, color;
}
.footer-social-li a:hover, .footer-social-li a:focus {
  background-color: #2196f3;
}

.footer-social-svg {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.wrap-mailing {
  margin-left: auto;
}
.wrap-mailing form {
  display: flex;
}

.mailing-p {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.mailing-input {
  height: 50px;
  width: 358px;
  padding: 16px 15px;
  outline: 1px solid rgba(255, 255, 255, 0.3);
  border: 0px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  color: #ffffff;
}
.mailing-input:focus {
  color: #ffffff;
}

.button-mailing {
  gap: 10px;
  padding: 0px;
  margin-left: 12px;
  height: 50px;
  min-width: 200px;
  align-items: center;
}

.svg-maling {
  width: 24px;
  height: 24px;
}

.portfolio-button {
  margin-bottom: 50px;
}
.portfolio-button li:not(:last-child) {
  margin-right: 8px;
}

.portfolio-button-list {
  border: 0px;
  padding: 6px 22px;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  transition-property: box-shadow, background-color, color;
}
.portfolio-button-list:hover, .portfolio-button-list:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-card {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-card li {
  outline: 1px solid #eeeeee;
}
.portfolio-card img {
  display: inline-block;
  width: 100%;
}
.portfolio-card li:not(:nth-child(3n)) {
  margin-right: 30px;
}
.portfolio-card li:not(:nth-last-child(-n+3)) {
  margin-bottom: 30px;
}

.portfolio-card-link {
  display: block;
  color: inherit;
  position: relative;
  transition-property: box-shadow, opacity, scaleY;
}
.portfolio-card-link:hover, .portfolio-card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-card-link:hover .portfolio-card-link-p-hidden, .portfolio-card-link:focus .portfolio-card-link-p-hidden {
  opacity: 1;
  transform: scaleY(1);
}

.portfolio-card-link-p-hidden {
  position: absolute;
  height: 294px;
  padding: 63px 24px;
  top: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: scaleY(0);
  transform-origin: bottom center;
}
.portfolio-card-link-p-hidden:hover, .portfolio-card-link-p-hidden:focus {
  opacity: 1;
  transform: translateY(0px);
}

.portfolio-card-wrap {
  padding: 20px 0;
  padding-left: 24px;
}

.portfolio-card-h2 {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-card-p {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}/*# sourceMappingURL=main.css.map */