.footer .logo {
  margin-bottom: 20px;
  color: map-get($colors, 'accent-praimery-white-color');
  transition-property: color;
  &:hover,
  &:focus {
    color: map-get($colors, 'accent-text-color');
  }
}

.footer-logo {
  padding: 0px;
}
