.footer {
  background-color: map-get($colors, 'bcg-color-accent');
  padding: 60px 0;
}

.footer-flex-div {
  display: flex;
  align-items: baseline;
  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
    justify-content: center;

    align-items: center;
  }

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}
