.footer .logo {
  margin-bottom: 20px;
  color: map-get($colors, 'accent-praimery-white-color');
  transition-property: color;
  &:hover,
  &:focus {
    color: map-get($colors, 'accent-text-color');
  }
  padding: 0px;
  @media screen and (max-width: 1199px) {
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
  }
}
