.logo {
  display: block;
  padding-top: 13px;
  padding-bottom: 13px;
  font-family: 'Raleway';
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: map-get($colors, 'logo-color-header');
  margin-right: 93px;
  transition-property: color;
  @media screen and (min-width: 481px) and (max-width: 1199px) {
    font-size: 24px;
  }
}
.logo {
  & span {
    color: map-get($colors, 'accent-text-color');
  }
  &:hover,
  &:focus {
    color: map-get($colors, 'accent-text-color');
    transition: color 250ms;
  }
}
