header {
  border-bottom: 1px solid #ececec;
}
.site__nav,
.nav__wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site__nav {
  gap: 50px;
}
.site__nav-li--contact:not(:last-child),
.cotnact__nav-link:not(:last-child) {
  margin-right: 50px;
  @media screen and(min-width:481px) and (max-width: 1199px) {
    margin-right: 0px;
  }
}
.site__nav-li--contact {
  @media screen and(min-width:481px) and (max-width: 1199px) {
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: auto;
  }
}
.site__nav-li--contact a:not(:last-child) {
  @media screen and (min-width: 481px) and (max-width: 1199px) {
    font-size: 12px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}
.site__nav-link {
  display: block;
  padding-top: 20px;
  padding-bottom: 24px;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: map-get($colors, 'title-text-color');
  transition-property: color;
  &:hover,
  &:focus {
    color: map-get($colors, 'accent-text-color');
  }
}

.site__nav-link--current {
  color: map-get($colors, 'accent-text-color');
  position: relative;

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    top: 100%;
    transform: translateY(-3px);
    border-radius: 2px;
    background-color: map-get($colors, 'accent-text-color');
  }
}
