.hero {
  height: 600px;
  background-color: map-get($colors, 'bcg-color-accent');
  text-align: center;
  padding: 0px;
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/imgfon.jpg);
  @media screen and (max-width: 767px) {
    height: 400px;
    // max-width: 480px;
    padding: 118px 0;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-mob.jpg);
    background-position: center;
    background-size: cover;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    height: 400px;
    // width: 768px;
    padding: 127px 0;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-tablet.jpg);
    background-position: center;
    background-size: cover;
  }
}

.section-title-hero {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: map-get($colors, 'accent-praimery-white-color');
  @media screen and (max-width: 1199px) {
    font-size: 26px;
    max-width: 360px;
  }
}
