.modal__form-wrap p {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  letter-spacing: 0.03em;
  color: map-get($colors, 'title-text-color');
  margin-bottom: 12px;
}

.modal__form-input {
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 0px;
  outline: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 40px;
  padding-right: 20px;
  transition-property: outline-color;
  &:focus,
  &:focus-visible {
    outline: 1px solid map-get($colors, 'accent-text-color');
  }
  &:hover ~ .modal__form-icons,
  &:focus ~ .modal__form-icons {
    fill: #2196f3;
  }
}

.modal__form-button {
  width: 200px;
  height: 50px;
}

.lable-area {
  resize: none;
  height: 120px;
  padding: 12px 16px;
}

.modal__label {
  display: block;

  margin-bottom: 4px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  text-align: left;

  color: map-get($colors, 'primary-text-color');

  &:not(:first-child) {
    margin-top: 10px;
  }
}

.modal-agreement {
  @extend %flex-center;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  position: relative;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-top: 10px;
  & input {
    width: 16px;
    height: 15px;
    margin-right: 9px;
  }
  @media screen and(max-width:769px) {
    font-size: 12px;
  }
}

.modal-agreement a {
  margin-left: 10px;
  border-bottom: 1px solid map-get($colors, 'accent-text-color');
  color: map-get($colors, 'accent-text-color');
}

.modal__form-fild {
  position: relative;
}

.modal__form-icons {
  position: absolute;
  top: 50%;
  left: 0;
  height: 18px;
  width: 18px;
  fill: map-get($colors, 'title-text-color');
  transform: translateY(-50%);
  margin-left: 15px;
}
