.portfolio-button {
  @extend %flex-center;
  margin-bottom: 50px;

  & li:not(:last-child) {
    margin-right: 8px;
  }
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  & li {
    @media screen and (max-width: 767px) {
      margin-bottom: 10px;
    }
  }
}

.portfolio-button-list {
  border: 0px;
  padding: 6px 22px;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: map-get($colors, 'title-text-color');
  background-color: map-get($colors, 'accent-background-color');
  transition-property: box-shadow, background-color, color;
  &:hover,
  &:focus {
    background-color: map-get($colors, 'accent-text-color');
    color: map-get($colors, 'accent-praimery-white-color');
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}
