.customers__list {
  display: flex;
  gap: 30px;
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
  }
}
.customers__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: map-get($colors, title-text-color);
  @media screen and (max-width: 1199px) {
    font-size: 28px;
    line-height: calc(28 / 33);
  }
}
.customers__li {
  @media screen and (max-width: 1199px) {
    width: calc((100% - 60px) / 3);
  }
  @media screen and (max-width: 767px) {
    width: calc((100% - 30px) / 2);
  }
}
.customers__li a {
  @extend %flex-center;
  outline: 1px solid #afb1b8;
  color: #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  transition-property: outline-color, color;
  &:hover,
  &:focus {
    outline-color: map-get($colors, 'accent-text-color');
    color: map-get($colors, 'accent-text-color');
  }
  @media screen and (max-width: 1199px) {
    width: 100%;
  }
}

.customers__svg {
  display: block;
  width: 106px;
  height: 60px;
  fill: currentColor;
}
